body {
  background-color: #001337;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.middle-carousel {
  width: 1122px;
}

.middle-carousel__card {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  font-size: 35px;
  margin-right: 20px;
  min-width: 360px;
  min-height: 356px;
  /* margin-right: 16px;
  min-width: 344px;
  min-height: 345px; */
  background-color: #001337;
  border-radius: 10px;
}

.middle-carousel__card-content {
  padding: 20px 20px 0;
  box-sizing: border-box;
  background-color: #e0f0ff;
  width: 348px;
  min-height: 340px;
  /* width: 330px;
  min-height: 330px; */
  border-radius: 10px;
}

.middle-carousel__card-date {
  margin: 0 0 8px 0;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #009fac;
}

.middle-carousel__card-title {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  color: #001337;
}

.middle-carousel__card-line {
  margin: 0 0 20px 0;
  border-bottom: 2px solid #009fac;
}

.middle-carousel__card-text {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000d26;
}

.middle-carousel__card-pin {
  position: absolute;
  top: 0;
  right: -7px;
}

.middle-carousel__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  width: 60px;
  height: 60px;
  background-color: #001337;
  box-shadow: 0px 4px 30px rgba(224, 240, 255, 0.1);
  border-radius: 36px;
}

.middle-carousel__arrow_type_prev {
  left: -65px;
}

.middle-carousel__arrow_type_next {
  right: -65px;
}

.middle-carousel__bullets {
  transform: translate(-50%, 45px);
}

.middle-carousel__slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle-carousel__slide-content {
  border: 1px blue solid;
  min-height: 200px;
  min-width: 200px;
  background-color: black;
}
