body {
  background-color: #001337;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.middle-carousel {
  width: 1122px;
}

.middle-carousel__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  width: 60px;
  height: 60px;
  background-color: #001337;
  box-shadow: 0px 4px 30px rgba(224, 240, 255, 0.1);
  border-radius: 36px;
}

.middle-carousel__arrow_type_prev {
  left: -65px;
}

.middle-carousel__arrow_type_next {
  right: -65px;
}

.middle-carousel__bullets {
  transform: translate(-50%, 45px);
}

.middle-carousel__slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
}

.middle-carousel__slide-content {
  border: 1px blue solid;
  min-height: 200px;
  min-width: 200px;
  background-color: black;
}
