.page {
  background-color: #001337;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  border: 1px solid red;
  overflow-x: hidden;
}

.carousel__cards-box {
  visibility: visible;
  opacity: 1;
  box-sizing: border-box;
  font-size: 0;
  max-width: 1108px;
  display: flex;
  transition: transform 0.4s cubic-bezier(0.63, -0.01, 0.33, 0.95);
}

.carousel__cards-box_is-invisible {
  visibility: hidden;
  opacity: 0;
}

.carousel__cards-box_slide_first {
  transform: translate(0);
}

.carousel__cards-box_slide_second {
  /* transform: translate(-1120px); */
  transform: translate(-100%);
}

.carousel__cards-box_slide_third {
  /* transform: translate(-2240px); */
  transform: translate(-200%);
}

.carousel__cards-box_slide_fourth {
  /* transform: translate(-3360px); */
  transform: translate(-300%);
}

.carousel__card {
  font-size: 35px;
  margin-right: 32px;
  /* display: inline-block; */
  min-width: 348px;
  height: 340px;
  /* border: 1px solid black; */
  background-color: aqua;
}

.carousel__card:nth-child(3n) {
  margin: 0;
}

.carousel__dot {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 0.5;
}

.carousel__dot_active {
  opacity: 1;
}
