.connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #009FAC;
    color: white;
    padding: 80px 165px;
}

@media screen and (max-width: 977px) {
    .connection {
        padding: 60px 39px;
    }
}

@media screen and (max-width: 450px) {
    .connection {
        padding: 40px 16px;
    }
}