.about__title {
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 189%;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: white;
}
