.intro {
  width: 100%;
  height: 100%;
  position: relative;

}

.intro:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../../images/Background.png) 0 -80px/cover no-repeat #001337;
}

@media screen and (max-width: 1279px) {
  .intro:before {
    background: url(../../images/Background.png) -184px -68px/cover no-repeat #001337;
    transform: scale(-1, 1);
  }
}

@media screen and (max-width: 767px) {
  .intro:before {
    background: url(../../images/Background.png) 0 -40px/30% contain no-repeat #001337
  }
}

