body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #001337;
}

.carousel {
  max-width: 1262px;
  overflow-x: hidden;
  background-color: #001337;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel__wrapper {
  margin-bottom: 26px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel__cards-wrapper {
  max-width: 1120px;
  overflow-x: hidden;
}

.carousel__cards-box {
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  transition: transform 0.4s cubic-bezier(0.63, -0.01, 0.33, 0.95);
}

.carousel__cards-box_slide_first {
  transform: translate(0);
}

.carousel__cards-box_slide_second {
  /* transform: translate(-1120px); */
  transform: translate(-100%);
}

.carousel__cards-box_slide_third {
  /* transform: translate(-2240px); */
  transform: translate(-200%);
}

.carousel__cards-box_slide_fourth {
  /* transform: translate(-3360px); */
  transform: translate(-300%);
}

.carousel__card {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: 35px;
  margin-right: 20px;
  min-width: 360px;
  min-height: 356px;
  /* margin-right: 16px;
  min-width: 344px;
  min-height: 345px; */
  background-color: #001337;
}

.carousel__card:nth-child(3n) {
  margin: 0;
}

.carousel__card-content {
  padding: 20px 20px 0;
  box-sizing: border-box;
  background-color: #e0f0ff;
  width: 348px;
  min-height: 340px;
  /* width: 330px;
  min-height: 330px; */
  border-radius: 10px;
}

.carousel__card-pin {
  position: absolute;
  top: 0;
  right: 0;
}

.carousel__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  width: 60px;
  height: 60px;
  background-color: #001337;
  box-shadow: 0px 4px 30px rgba(224, 240, 255, 0.1);
  border-radius: 36px;
}

.carousel__btn_type_next {
  transform: rotate(180deg);
}

.carousel__dot {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 0.5;
}

.carousel__dot_active {
  opacity: 1;
}

.carousel__card-date {
  margin: 0 0 8px 0;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #009fac;
}

.carousel__card-title {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  color: #001337;
}

.carousel__card-line {
  margin: 0 0 20px 0;
  border: 1px solid #009fac;
}

.carousel__card-text {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000d26;
}

@media screen and (max-width: 1261px) {
  .carousel {
    max-width: 1024px;
  }

  .carousel__card {
    min-width: 304px;
  }

  .carousel__card-title {
    margin-bottom: 10px;
  }

  .carousel__card-line {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .carousel__btn {
    display: none;
  }

  .carousel__dots {
    display: none;
  }

  .carousel {
    max-width: 729px;
    /* padding-left: 39px; */
  }

  .carousel__cards-wrapper {
    overflow-x: scroll;
  }
  .carousel__card {
    min-width: 344px;
    min-height: 345px;
    margin-right: 16px;
  }

  .carousel__card:nth-child(3n) {
    margin-right: 16px;
  }

  .carousel__card-content {
    width: 330px;
    min-height: 330px;
  }
}

@media screen and (max-width: 767px) {
  .carousel {
    max-width: 320px;
    /* padding-left: 39px; */
  }
  .carousel__card {
    min-width: 298px;
    min-height: 261px;
    margin-right: 10px;
  }

  .carousel__card:first-of-type {
    margin-left: 10px;
  }

  .carousel__card-content {
    width: 288px;
    min-height: 250px;
    padding: 16px 16px 0;
  }
}
