.team__container-cards {
    display: flex;
    align-items: center;
    max-width: 1240px;
    margin-bottom: 31px;
}

@media screen and (max-width: 768px) {
    .team__container-cards {
        max-width: 768px;
    }
}